include ../../views/head
style: include ../../views/css/font.css
style.
	body {
		max-width: 80rem;
	}

	button {
		color: #EEE;
		background-color: #fd842d;

		font-size: large;
		text-align: center;
		text-decoration: none;

		padding: 8px 8px 4px 8px;
		display: inline-block;
		box-sizing: border-box;
		box-shadow: inset 0px -2px 0px 0px #B64D02;

		border: none;
		border-radius: 8px;

		cursor: pointer;
		transition: box-shadow 250ms;
	}

	button:hover {
		box-shadow: inset 0px -4px 0px 0px #B64D02;
	}
