include ../../views/head
style: include ../../views/css/font.css
style.
	body {
		max-width: 80rem;
	}

	button {
		color: white;
		background-color: #fd842d;

		font-size: large;
		text-align: center;
		text-decoration: none;

		padding: 8px 8px 4px 8px;
		border: none;
		border-radius: 8px;
		display: inline-block;

		cursor: pointer;

		transition: background-color 250ms linear;
	}

	button:hover {
		background-color: darkorange;
	}
