body { max-width: 80rem; }

#viewer {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;

	height: 100vh;
	width: 100vw;

	justify-content: center;
	align-items: center;
	text-align: center;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	position: fixed;
	z-index: 1000;
}

#viewer-frame > img, #viewer-frame > video {
	max-width: 66vw;
	max-height: 66vh;
	border-radius: 16px;
}

.thumbnail {
	width: 200px;
	height: 140px;
	cursor: pointer;

	border-style: solid;
	border-width: 2px 2px 2px 4px;
	border-radius: 4px 4px;
	
	transition: border-radius 50ms linear;
}

.thumbnail:hover {
	border-radius: 8px 4px 4px 8px;
}

figure {
	width: 220px;
	margin: 24px;
	padding-bottom: 2px;
	display: inline-block;
	border-radius: 9px;
	border-bottom: 6px solid #212121;
	transition: border-bottom 150ms;
}

figure:hover {
	border-bottom: 6px solid #323232;
}

figcaption {
	margin-top: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.metadata {
	font-size: smaller;
	color:#9E9E9E !important;
}

.resource-buttons {
	margin-left: 2px;
	margin-right: 3px;
}

.blur {
	filter: blur(3px);
	transition: filter 150ms;
}

.unblur {
	filter: blur(0px) !important;
}

#nav-buttons {
	font-size: 2rem;
}

a.nav {
	color: #757575;
	transition: color 250ms linear;
}
a.nav, a.nav:hover, a.nav:active, a.nav:visited { text-decoration: none; }
a.nav:hover { color: #BDBDBD; }
a.nav:active { color: #F5F5F5; }
