body { max-width: 80rem; }

#viewer {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;

	height: 100vh;
	width: 100vw;

	justify-content: center;
	align-items: center;
	text-align: center;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	position: fixed;
	z-index: 1000;
}

#viewer-frame > img, #viewer-frame > video {
	max-width: 66vw;
	max-height: 66vh;
	border-radius: 16px;
}

.thumbnail {
	width: 200px;
	height: 140px;
	cursor: pointer;

	border-radius: 4px;
	border-width: 0 0 0 4px;
	
	transition: border-radius 50ms linear, border-width 50ms linear;
}

.thumbnail:hover {
	border-radius: 8px 4px 4px 8px;
	border-left-width: 8px !important;
}

figure {
	width: 220px;
	margin: 24px;
	display: inline-block;
	border-radius: 4px;
	border-bottom: 4px solid #212121;
	transition: border-bottom 150ms;
}

figure:hover {
	border-bottom: 4px solid #323232;
}

figcaption {
	margin-top: 4px;
}

.metadata {
	font-size: smaller;
	color:#9E9E9E !important;
}

.resource-buttons {
	margin-left: 2px;
	margin-right: 3px;
}

.blur {
	filter: blur(3px);
	transition: filter 150ms;
}

.unblur {
	filter: blur(0px) !important;
}
