include ../__main

title ass-x Login
center
	h1 ass-x
	h4 Log In
	
	#form
		strong Token:&nbsp;
		input#token(type='password')
		br
		text &nbsp;(use your upload token to authenticate)
		br
		br
		button(title='Log in' onclick='login()'): i.fas.fa-sign-in-alt
	+brand

script
	include login.js
	